@inherits LayoutComponentBase
@inject SignOutSessionStateManager signoutMan;
@inject NavigationManager nav;

<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <div class="top-row px-4">
        <AuthorizeView>
            <Authorized>
                Welcome @context.User.Identity.Name  
                <button class="btn btn-link" @onclick="Logout">Logout</button>              
            </Authorized>
            <NotAuthorized>
                <a href="authentication/register">Register</a>
                <a href="authentication/login">Login</a>
            </NotAuthorized>
        </AuthorizeView>
        <a href="http://blazor.net" target="_blank" class="ml-md-auto">About</a>
    </div>

    <div class="content px-4">
        @Body
    </div>
</div>

@code {
    async Task Logout()
    {
        await signoutMan.SetSignOutState();
        nav.NavigateTo("authentication/logout");
    }
}